*{
    margin:0;
    padding:0 ;
}

.container{
    width: 100%;
    margin: 0 auto; 
}

.fixed-header {
    width: 100%;
    position: fixed;        
    background: #7576769e;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 14px;
}

.fixed-header{
    top: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #e6e687;
    line-height: 1.6;
}

#showcase{
    background-image: url(../Img/ocean.jpg);
    background-size: cover; 
    background-position: center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
}

#showcase form{
    font-size: 14px;
    margin-top: 30px;
}

#showcase h1{
    font-size: 50px;
    line-height: 1.5;
    margin-top: 25px;
}

#showcase h2{
    font-size: 20px;
    text-decoration: underline;
    line-height: 1.5;
    margin-top: 40px;
}

#showcase p{
    font-size: 14px;
    text-align: center;
    color: aliceblue;
}

#showcase form{
    margin-top: 5px;
}

#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: #e6e687;
    border: #e6e687 2px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: none;
}

#section-1{
    padding: 10px;
    background: #383806;
    text-align: center;
}

#footer{
    font-size: 12px;
    text-align: center;
    color: black;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

 img{
    border: #878585 solid 5px;
    border-radius: 5px;
    orientation: center;
    height: 300px;
    width: 300px;
    margin-top: 20px;
}